{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
Your shopping cart
{% endblock title %}

{% block content %}

<div class="px-5 ">
{% for msg in messages %}
    <div class="alert alert-success " role="alert">
        <strong class="d-flex justify-content-center"> {{ msg }} </strong>
    </div>
{% endfor %}
</div>


{% with total_items=cart|length %}
    {% if total_items > 0%}
        <div class="cart__info container-fluid">
            <div class="row px-xl-5">
                <div class="col-lg-8 table-responsive mb-5">
                    <table class="text-center mb-0">
                        <tbody class="align-middle ">
                            <h6>Кошик</h6>
                            {% for item in cart %}
                                {% with product=item.product %}
                                    <tr class="border-bottom border-top">
                                        <td class="align-middle bg-white py-4"><a href="{{ product.get_absolute_url }}">
                                            <img src="{% if product.image %}{{ product.image.url }}
                                            {% else %}{% static 'img/no_image.png' %}{% endif %}"
                                            alt="" style="width: 80px;"></a>
                                        </td>
                                        <td  class="align-middle bg-white">
                                            {{ product.name }}
                                        </td>
                                        <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                        <td class="align-middle bg-white">
                                            {{ item.update_quantity_form.quantity }}
                                            {{ item.update_quantity_form.override }}
                                        </td>
                                        <td class="align-middle bg-white">
                                            <button type="submit" class="btn btn-dark btn-sm" value="Update">Оновити</button>
                                            {% csrf_token %}
                                        </td>
                                        </form>
                                        <td class="align-middle bg-white">{{ item.total_price }} €</td>
                                        <td class="align-middle bg-white">
                                            <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                                                <button type="submit" class="btn btn-dark btn-sm" value="delete">Видалити</button>
                                                {% csrf_token %}
                                            </form>
                                        </td>
                                    </tr>
                                {% endwith %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4">
                    <div class="mb-5 ml-2">
                        <div class=" bg-white">
                            <h6 class="font-weight-semi-bold p-1  border-bottom">Дані замовлення</h6>
                        </div>
                        <div class="card-body bg-white">
                            <div class="d-flex justify-content-between mb-3 pt-1">
                                <h6 class="font-weight-medium">Сума</h6>
                                <h6 class="font-weight-medium">{{ cart.get_total_price }} €</h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Доставка</h6>
                                <h6 class="font-weight-medium">Безкоштовно</h6>
                            </div>
                        </div>
                        <div class="card-footer border-1 bg-white">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">Загалом</h5>
                                <h5 class="font-weight-bold">{{ cart.get_total_price }} €</h5>
                            </div>
                            {% with total_items=cart|length %}
                                {% if total_items > 0%}
                                    <a href="{% url 'orders:order_create' %}" class="btn btn-block btn-dark my-3 py-3">Оформити замовлення</a>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="empty_cart container-fluid p-5 border-top border-bottom">
            <div class="d-flex justify-content-center pb-2">
                <h5>Кошик порожній</h5>
            </div>
            <div class="d-flex justify-content-center">
                <a href="{% url 'shop:product_list' %}" class="btn essence-btn">Продовжити перегляд</a>
            </div>
        </div>
    {% endif %}
{% endwith %}
 
{% endblock content %}