{% extends 'shop/base.html' %}
{% load static %}


{% block about_us %}
<div class="pb-5">
    <div class="d-flex justify-content-center pt-5 ">
        <h3>ІСТОРІЯ НАШОГО МАГАЗИНУ</h3>
    </div>
    <div class="d-flex justify-content-center py-2">
        <h6>Про нас</h6>
    </div>
    <div>
        <p class="d-flex justify-content-center text-center pb-5 px-5">Vintage Music Feeling - це офіційний реселлер ексклюзивних музчиних видань, платівок, 
        записів для справжніх фанатів, які закохані у звучання патіфону. Ми цінуємо оригінальне втілення альбомів у вінілові диски, 
        неповторну історію кожного з них, тому збираємо для вас колекційні видання з усього світу аби показати вам, що таке справжнє відчуття музики.
         Вінтаж і стиль - це про наш куточок музиканта. Також ми є офіційними реселлерами музичних інструментів, відомих реплік та обладнання.
          Кожен любитель музики знайде в нашому магазині щось для себе.</p>
    </div>
    <div style="background-image: url(static/img/bg-1.png); height: 500px; widght:100vh;">
    </div>
</div>
{% endblock about_us %}