{% extends 'shop/base.html' %}
{% load static %}



{% block product_list %}

<div class="container-fluid pt-2">
    <div class="row">
        <div class="col-lg-2 col-md-12">
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4 border-bottom p-2">Категорії</h5>
                <ul>
                    <li {% if not category %}class="selected"{% endif %}>
                        <a href="{% url 'shop:product_list' %}">Усі товари</a>
                    </li>
                    {% for c in categories %}
                        <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-lg-10 col-md-12">
            <div class="row">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="">
                            <div class="product-list">
                                <h5 class="pb-4">
                                    {% if category %}
                                        {{ category.name }}
                                    {% else %}
                                        Усі товари
                                    {% endif %}
                                </h5>
                                <p style="font-size:12px"> Товарів: {{products.count}} </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% for product in products %}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="product-item ">
                            <div class="item">
                                <div>
                                    <a href="{{ product.get_absolute_url }}">
                                        <img src="{% if product.image %}
                                            {{ product.image.url }}
                                        {% else %}
                                            {% static 'img/no_image.png' %}    
                                        {% endif %}" alt="">
                                    </a>
                                    <div class="text-center p-0 pt-4 pb-3">
                                    <a href="{{ product.get_absolute_url}}">{{ product.name }}</a><br>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between bg-light ">
                                    <p class="price">{{ product.price }} €</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


				
{% endblock product_list %}